.market {
	padding: 24px 80px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 64px;
}

.prices-chart {
	width: 1400px;
	max-width: 100%;
	padding: 0 200px;
}

.history {
	width: 50%;
}

.menu {
	padding: 20px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fafafa;
}

.actual-money {
	font-weight: 400;
	font-size: 18px;
}

.portfolio-list {
	display: flex;
	justify-content: space-between;
}

.product-selector-container {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.product-card {
	margin-bottom: 12px;
	width: 400px;
}

.credits-container {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.credits-container .money {
	font-weight: 500;
}

.menu .options {
	display: flex;
	align-items: center;
	gap: 48px;
}

.menu .options .button {
	color: gray;
}

@media screen and (max-width: 1400px) {
	.prices-chart {
		grid-column: 1/2;
		grid-row: 3/4;
		padding: 0 100px;
	}
}

@media screen and (max-width: 1150px) {
	.prices-chart {
		grid-column: 1/2;
		grid-row: 3/4;
		padding: 0;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
	.product-card {
		width: 300px;
	}
}

@media screen and (max-width: 1000px) {
	.product-selector-container {
		flex-direction: column;
	}

	.product-card {
		width: 500px;
	}
}